extends layout

block content
  #content
  script(src="/bower_components/reflux/dist/reflux.js")
  script(src="/js/dist/actions.js")
  script(src="/js/dist/stores.js")
  script(src="/js/dist/graph_config.js")
  script(src="/bower_components/codemirror/lib/codemirror.js")
  script(src="/bower_components/codemirror/mode/javascript/javascript.js")
  link(rel='stylesheet', href='/bower_components/codemirror/lib/codemirror.css')
  script(src="js/dist/analytics.js")
