extends layout

block content
  #content
  script(src="/bower_components/reflux/dist/reflux.js")
  script(src="/js/dist/actions.js")
  script(src="/js/dist/stores.js")
  script(src="/js/dist/graph_config.js")
  script(src="/bower_components/codemirror/lib/codemirror.js")
  script(src="/bower_components/codemirror/mode/javascript/javascript.js")
  link(rel='stylesheet', href='/bower_components/codemirror/lib/codemirror.css')
  link(rel='stylesheet', href='/bower_components/codemirror/theme/neo.css')
  script(src="/bower_components/highlightjs/highlight.pack.js")
  script(src="/bower_components/echarts/build/dist/echarts.js")
  script(src="/js/dist/reusables.js")
  script(src="js/dist/analytics.js")
