extends layout

block content
  script.
    var params = {};
    params = !{JSON.stringify(params)};
  if params.collection
    script.
      localStorage.current = !{JSON.stringify(params.collection)};
  #content
  script(src="/bower_components/echarts/build/dist/echarts.js")
  script(src="/js/dist/graph_utils.js")
  script(src="/js/dist/graph_config.js")
  script(src="/js/dist/reusables.js")
  script(src="/js/dist/chart.js")
  script.
    require.config({
      paths: {
        echarts: '/bower_components/echarts/build/dist'
      }
    });
