extends layout

block content
  script(src="/bower_components/highlightjs/highlight.pack.js")
  if params.collection
    script.
      localStorage.current = !{JSON.stringify(params.collection)};
  #content
  script(src="/js/dist/charts.js")
