doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/semantic-ui/dist/semantic.css')
    link(rel='stylesheet', href='/bower_components/highlightjs/styles/github.css')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/react/react-with-addons.js')
    script(src='/bower_components/semantic-ui/dist/semantic.js')
  body
    #main.ui.raised.container.segment
      script(src='/js/dist/pg_utils.js')
      div.ui.menu
        a.item(href="/")
          i.home.icon
          | Home
        a.item(href="/measurements")
          i.bar.chart.icon
          | Measurements
      block content
