doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/semantic-ui/dist/semantic.css')
    link(rel='stylesheet', href='/bower_components/highlightjs/styles/github.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/react/react-with-addons.js')
    script(src='/bower_components/semantic-ui/dist/semantic.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src="/bower_components/reflux/dist/reflux.js")
    script(src="/js/dist/actions.js")
    script(src="/js/dist/stores.js")
  body
    #main.ui.raised
      script(src='/js/dist/pg_utils.js')
      #menu
      script(src='/js/dist/menu.js')
      block content
