extends layout

block content
  script.
    var params = {};
    params.measurement = {id: "#{measurement.id}"};
  #content
  #chart.graph-content
  script(src="/bower_components/reflux/dist/reflux.js")
  script(src="/js/dist/actions.js")
  script(src="/js/dist/stores.js")
  script(src="/js/dist/measurement.js")
  script(src="/bower_components/echarts/build/dist/echarts.js")
  script.
    require.config({
      paths: {
        echarts: '/bower_components/echarts/build/dist'
      }
    });
  
