extends layout

block content
  script.
    var params = {};
    params.measurement = {id: "#{measurement.id}"};
  #content
  #chart.graph-content
  script(src="/js/dist/measurement.js")
  script(src="/bower_components/echarts/build/dist/echarts.js")
  script.
    require.config({
      paths: {
        echarts: '/bower_components/echarts/build/dist'
      }
    });
    // use
       require(
           [
               'echarts',
               'echarts/chart/bar' // require the specific chart type
           ],
           function (ec) {
               // Initialize after dom ready
               var myChart = ec.init(document.getElementById('chart')); 
               
               var option = {
                   tooltip: {
                       show: true
                   },
                   legend: {
                       data:['Sales']
                   },
                   xAxis : [
                       {
                           type : 'category',
                           data : ["Shirts", "Sweaters", "Chiffon Shirts", "Pants", "High Heels", "Socks"]
                       }
                   ],
                   yAxis : [
                       {
                           type : 'value'
                       }
                   ],
                   series : [
                       {
                           "name":"Sales",
                           "type":"bar",
                           "data":[5, 20, 40, 10, 10, 20]
                       }
                   ]
               };
       
               // Load data into the ECharts instance 
               myChart.setOption(option); 
           }
       );
