body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F8F8F8
}

a {
  color: #00B7FF;
}

code.json.hljs {
  background: #FFFFFF
}

.graph-content {
  height: 45em;
}

.ui.styled.accordion.full-width {
  width: 100%;
  margin-bottom: 1em;
}

.adder {

}

.axis {

}
